
			<div class="list-displayer">
				<ul class="list inline-wrap filters">
					<li>{{list-displayer.filters.title}}:</li>
					<li><a href="all">{{list-displayer.filters.all}}</a></li>
					<li><a href="personnal">{{list-displayer.filters.personnal}}</a></li>
					<li><a href="social">{{list-displayer.filters.social}}</a></li>
				</ul>
				<ul class="list inline-wrap sorting">
					<li>{{list-displayer.sorting.title}}:</li>
					<li><a href="bestdeals"><span class="picto deals"></span>{{list-displayer.sorting.deals}}</a></li>
					<li><a href="popular"><span class="picto popular"></span>{{list-displayer.sorting.popular}}</a></li>
					<li><a href="relevant"><span class="picto relevant"></span>{{list-displayer.sorting.relevant}}</a></li>
				</ul>

				<ul class="list inline-wrap view-mode">
					<li><a href="list" class="list-view icon-list active">{{list-displayer.viewmode.list}}</a></li>
					<li><a href="map" class="map-view icon-world">{{list-displayer.viewmode.map}}</a></li>
				</ul>
			</div>
