<div id="prehome" style="background-image: url('assets/images/{{prehome.background-img}}')">
	<div class="grip">
		<p>{{prehome.grip.l1}}</p>
		<p>{{prehome.grip.l2}}</p>
		<p>{{prehome.grip.l3}}</p>
	</div>
	<div class="login">
		<a href="" class="fb-login gradient">
			<span class="icon-facebook">{{prehome.fb-login}}</span>
		</a>
		<div class="fb-loader"></div>
		<p class="description">{{prehome.description}}</p>
	</div>
</div>